/* .number-grid span {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, z-index 0.3s;
    font-size: 18px;
    opacity: 0.3;
  }
  
  .number-grid span:hover {
    transform: translateY(-10px) scale(1.2);
    z-index: 1;
    opacity: 1;
    color: #00ff00;
  }
   */